[submodule "BecaOdoo/modules"]
	path = BecaOdoo/modules
	url = git@github.com:BecaOdoo/modules.git
	branch = main

[submodule "odoo/odoo"]
	path = odoo/odoo
	url = git@github.com:odoo/odoo.git
	branch = 15.0

[submodule "OCA/server-ux"]
	path = OCA/server-ux
	url = git@github.com:OCA/server-ux.git
	branch = 15.0

[submodule "CybroOdoo/CybroAddons"]
	path = CybroOdoo/CybroAddons
	url = git@github.com:CybroOdoo/CybroAddons.git
	branch = 15.0

[submodule "BecaOdoo/conector"]
	path = BecaOdoo/conector
	url = git@github.com:BecaOdoo/conector.git
	branch = main

[submodule "BecaOdoo/Vistas"]
	path = BecaOdoo/Vistas
	url = git@github.com:BecaOdoo/Vistas.git
	branch = main

[submodule "BecaOdoo/360"]
	path = BecaOdoo/360
	url = git@github.com:BecaOdoo/360.git
	branch = main
